<div id="add-dtr" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/dtr/add-dtr.less</em>, <em>assets/js/pages/dtr/add-dtr.page.js</em>, and <em>api/controllers/dtr/view-add-dtr.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
