<div id="dtr" v-cloak>
  <div class="container pt-5 pb-5">
    <h1>Docker Registry Overview</h1>
    <hr/>
    <% if (dtrs) { %>
      
        <div class="row mb-3">
          <div class="col-sm-6">
            <h4><%= dtrs.length %></h4>
          </div>
          <div class="col-sm-6">
            <span class="float-sm-right">
              <a style="width: 150px" class="btn btn-sm btn-outline-danger" href="/dtr">Delete</a>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-3">Token:</div>
          <div class="col"><strong>{{dtrs.length}}</strong></div>
        </div>
        <hr/>
 
    <% } %>
    <div class="row">
      <a style="width: 150px" class="btn btn-sm btn-outline-info" href="/dtr/add-dtr">Add registry</a>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
