<div id="dtr" v-cloak>
  <div class="container pt-5 pb-5">
    <h1>Docker Registry Overview</h1>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>DTR fullName <%= dtrs.length %></h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a style="width: 150px" class="btn btn-sm btn-outline-danger" href="/dtr">Delete</a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Name:</div>
      <div class="col"><strong>{{me.fullName}}</strong></div>
    </div>
    <hr/>
    <div class="row">
      <a style="width: 150px" class="btn btn-sm btn-outline-info" href="/dtr">Add registry</a>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
